PORT=3000
# Comma-separated list of base paths to strip from project names in the UI
# Windows: MACAW_BASE_PATHS=C:/Projects,C:/Users/you/Projects
# Mac/Linux: MACAW_BASE_PATHS=/home/you/Code,/home/you/Projects
MACAW_BASE=
